extends ./layouts/index

block slider 
    .slider
        h1 Rio de Janeiro
        em aventura
        

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col.md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel culpa illum illo unde quidem iusto itaque nam quis doloremque! Accusamus maxime aut eum enim cupiditate, sequi expedita error animi, distinctio tenetur perspiciatis dignissimos nostrum est.
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste totam labore, accusamus eum possimus sequi consectetur fugiat sint in optio libero incidunt nobis. Dolorum maiores aliquid id nostrum autem corporis eveniet possimus eius alias obcaecati!
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        
        include ./layouts/bloque_viajes
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo 2022 - 28 de Marzo 2022
                        p.precio $2,500 USD
    .container 
        h2.mt-5.text-center Testimoniales 
            include ./layouts/bloque_testimoniales