extends ./layouts/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur consectetur suscipit sequi, obcaecati perspiciatis ullam reiciendis placeat repudiandae rerum! Eligendi quisquam tenetur delectus eos doloribus sit suscipit rerum quos ducimus minima, saepe consectetur accusantium atque nesciunt, sint fugit nam, repellat modi deleniti quibusdam? Totam porro, explicabo laborum maiores quis odio.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsam natus in cumque perferendis aspernatur possimus quae, odit esse quidem.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, accusantium dolore eius odit ea magni aliquid repellendus mollitia deleniti minima quae hic commodi, deserunt maiores!

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono_seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, sunt recusandae deserunt beatae, delectus reprehenderit rerum veniam iure adipisci impedit consequatur quae molestiae debitis quos!
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono_destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos  
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, sunt recusandae deserunt beatae, delectus reprehenderit rerum veniam iure adipisci impedit consequatur quae molestiae debitis quos!
                .col-md-4
                    img(src="img/icono_precio.svg", alt="icono_precio", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, sunt recusandae deserunt beatae, delectus reprehenderit rerum veniam iure adipisci impedit consequatur quae molestiae debitis quos!